# Byte-compiled / optimized / DLL files
__pycache__/
slurm-*
core
run_*
logs/*
# IPython Notebook
.ipynb_checkpoints

.vscode*
# weights
weights/
*.code-workspace
#DS_Store
.DS_Store
# pycharm
.idea/
__pycache__/
tempr_logs/
tallied_results.txt
extras/annots_12fps_full_v1.0.json
*.tar
### euler codes
experiments/
sub.sh
lsf.*

# Ignora risultati di rgb-images e videos e detections e tubes
road-dataset/road/rgb-images/
road-dataset/road/videos/
road-dataset/road/cache/resnet50I3D512-Pkinetics-b1s8x1x1-roadt3-h3x3x3/detections-*/
road-dataset/road/cache/resnet50I3D512-Pkinetics-b1s8x1x1-roadt3-h3x3x3/tubes-*/

# Ignora file di risultati frame-level e frame-ap
road-dataset/road/cache/resnet50I3D512-Pkinetics-b1s8x1x1-roadt3-h3x3x3/frame-ap-results-*.json
road-dataset/road/cache/resnet50I3D512-Pkinetics-b1s8x1x1-roadt3-h3x3x3/frame-level-dets-*.pkl
road-dataset/road/cache/resnet50I3D512-Pkinetics-b1s8x1x1-roadt3-h3x3x3/frame-level-resutls-*.log

# Ignora log delle generazioni
road-dataset/road/cache/resnet50I3D512-Pkinetics-b1s8x1x1-roadt3-h3x3x3/gen_dets-*.log

# Ignora file di modelli e optimizers salvati
road-dataset/road/cache/resnet50I3D512-Pkinetics-b1s8x1x1-roadt3-h3x3x3/model_*.pth
road-dataset/road/cache/resnet50I3D512-Pkinetics-b1s8x1x1-roadt3-h3x3x3/optimizer_*.pth

# Ignora file di annotations e labels
road-dataset/road/road_trainval_v1.0.json

# Ignora file di log dei training e tubeing
road-dataset/road/cache/resnet50I3D512-Pkinetics-b1s8x1x1-roadt3-h3x3x3/train-*.log
road-dataset/road/cache/resnet50I3D512-Pkinetics-b1s8x1x1-roadt3-h3x3x3/tubeing-*.log

# Ignora file kinetics-pt
kinetics-pt/resnet50C2D.pth
kinetics-pt/resnet50I3D-NL.pth
kinetics-pt/resnet50I3D.pth
kinetics-pt/resnet50RCGRU.pth
kinetics-pt/resnet50RCLSTM.pth
kinetics-pt/resnet50RCN.pth
kinetics-pt/SLOWFAST_R50_K400.pth
kinetics-pt/SLOWFAST_R101_K700.pth

# Ignora file di output del CEM
cem_outputs/epoch_37_concepts_heatmap.png
cem_outputs/epoch_37_explanations.json
cem_outputs/epoch_38_concepts_heatmap.png
cem_outputs/epoch_38_explanations.json
cem_outputs/epoch_39_concepts_heatmap.png
cem_outputs/epoch_39_explanations.json
cem_outputs/epoch_40_concepts_heatmap.png
cem_outputs/epoch_40_explanations.json
